config/defines.inc.php
config/settings.inc.php
cache
vendor
export
log
export_import/*
modules/smartblog/images/
modules/homeslider/images/
img
.idea/
modules/*/config*.xml
*sublime*
modules/ph_simpleblog/covers
modules/ph_simpleblog/featured
vagrant/.vagrant
zarstvo-shop.com
vagrant/puphpet/config-custom.yaml
