/********************************************************
            One-Page Checkout Styles
********************************************************/
#order-opc {
  line-height: 20px; }
  #order-opc .box {
    padding-bottom: 10px; }
  #order-opc .cart_navigation {
    margin-bottom: 53px; }
  #order-opc .page-heading.step-num {
    position: relative;
    padding-left: 45px;
    overflow: visible; }
    #order-opc .page-heading.step-num span {
      font-weight: bold;
      font-size: 42px;
      line-height: 51px;
      font-style: italic;
      color: #333;
      position: absolute;
      left: 10px;
      top: -14px; }
  #order-opc .form-group {
    margin-bottom: 10px; }
    @media (max-width: 767px) {
      #order-opc .form-group {
        width: 100%; } }
    #order-opc .form-group div.radio {
      height: 32px; }
      #order-opc .form-group div.radio span {
        line-height: 32px;
        top: 0px; }
        #order-opc .form-group div.radio span:hover {
          cursor: pointer; }
    #order-opc .form-group div.radio.hover span, #order-opc .form-group div.radio.focus span {
      background-position: 0px -243px; }
      #order-opc .form-group div.radio.hover span.checked, #order-opc .form-group div.radio.focus span.checked {
        background-position: -13px -243px; }
    #order-opc .form-group.payment-methods .payment_method {
      height: 32px;
      padding: 0px;
      margin: 5px 0px; }
      #order-opc .form-group.payment-methods .payment_method .payment-label {
        line-height: 32px;
        height: 32px;
        vertical-align: middle;
        display: inline-block;
        cursor: pointer; }
      #order-opc .form-group.payment-methods .payment_method .payment-icon {
        height: 32px;
        width: 32px;
        display: inline-block;
        vertical-align: middle;
        background-image: url("../img/payment-big-icons-2015-06-01.png");
        margin-left: 10px; }
        #order-opc .form-group.payment-methods .payment_method .payment-icon.cashpayment {
          background-image: url("../img/payment_icons.png");
          background-position: 352px 74px;
          width: 44px;
          height: 30px; }
        #order-opc .form-group.payment-methods .payment_method .payment-icon.paymentondelivery {
          background-image: url("../img/payment_icons.png");
          background-position: 352px 74px;
          width: 44px;
          height: 30px; }
        #order-opc .form-group.payment-methods .payment_method .payment-icon.prepayment {
          background-image: url("../img/payment_icons.png");
          background-position: 352px 74px;
          width: 44px;
          height: 30px; }
        #order-opc .form-group.payment-methods .payment_method .payment-icon.ym_PC {
          background-position: -32px -75px; }
        #order-opc .form-group.payment-methods .payment_method .payment-icon.ym_AC {
          background-position: 0px -43px; }
        #order-opc .form-group.payment-methods .payment_method .payment-icon.ym_WM {
          background-position: -126px 0px; }
        #order-opc .form-group.payment-methods .payment_method .payment-icon.ym_SB {
          background-position: -94px -32px; }
        #order-opc .form-group.payment-methods .payment_method .payment-icon.ym_AB {
          background-position: -62px 0px; }
        #order-opc .form-group.payment-methods .payment_method .payment-icon.ym_PB {
          background-position: -64px -75px; }
        #order-opc .form-group.payment-methods .payment_method .payment-icon.ym_MA {
          background-position: 0px -75px; }
      #order-opc .form-group.payment-methods .payment_method.disabled .payment-label {
        color: #999;
        cursor: no-drop; }
    #order-opc .form-group .form-control {
      max-width: 300px;
      width: 300px; }
      @media (max-width: 767px) {
        #order-opc .form-group .form-control {
          max-width: initial;
          width: 100%; } }
    #order-opc .form-group.personal-discount-info {
      color: #507806;
      font-style: italic;
      margin-top: 15px; }
      #order-opc .form-group.personal-discount-info #discount_card {
        max-width: 100%;
        width: 100%; }
      #order-opc .form-group.personal-discount-info p#discount_card {
        font-size: 15px; }
    #order-opc .form-group.block-left {
      float: left;
      margin-right: 20px; }
    #order-opc .form-group.block-full-width {
      display: inline-block;
      width: 100%;
      margin-top: 5px; }
      #order-opc .form-group.block-full-width label {
        float: left;
        line-height: 31px;
        margin-right: 10px;
        margin-bottom: 0px; }
      #order-opc .form-group.block-full-width .form-control {
        min-width: 500px;
        display: inline-block;
        width: 500px;
        float: right; }
        @media (max-width: 767px) {
          #order-opc .form-group.block-full-width .form-control {
            min-width: 285px;
            width: 285px;
            float: left; } }
    #order-opc .form-group#select_bonus {
      background: #DF5656;
      color: #fff;
      padding-bottom: 5px;
      border-radius: 3px; }
      #order-opc .form-group#select_bonus label {
        color: #fff;
        width: 100%;
        margin: 0;
        text-align: center; }
      #order-opc .form-group#select_bonus .bonus .radio {
        float: left;
        display: inline-block;
        height: auto; }
      #order-opc .form-group#select_bonus .bonus label {
        display: inline-block;
        float: left;
        width: auto;
        line-height: 18px;
        margin-left: 3px; }
  #order-opc .lost_password {
    display: inline-block;
    text-decoration: underline;
    margin: 5px 0 14px; }
    #order-opc .lost_password:hover {
      text-decoration: none; }
  #order-opc .title_block {
    font-weight: bold;
    color: #333;
    padding: 3px 0 6px; }
  #order-opc .opc-button {
    padding: 11px 0 0 0; }
  #order-opc ul.bullet {
    line-height: 22px;
    margin-bottom: 5px; }
  #order-opc .date-select {
    padding-bottom: 10px; }
  #order-opc .opc-add-save {
    margin-top: 20px;
    height: 45px; }
  #order-opc .message-block .title {
    display: inline-block;
    width: 100%; }
  #order-opc #message {
    margin-bottom: 20px;
    max-width: initial;
    width: 100%;
    height: initial;
    font-style: italic; }
    @media (max-width: 767px) {
      #order-opc #message {
        max-width: 285px;
        width: 285px; } }
  #order-opc #opc_payment_methods {
    margin-bottom: 30px; }
    #order-opc #opc_payment_methods p.warning {
      color: #F13340;
      font-weight: 700; }
  #order-opc #opc_account {
    margin-bottom: 30px; }
  #order-opc .address_delivery.select {
    margin-bottom: 15px; }
  #order-opc #address_invoice_form.form-group {
    margin-bottom: 30px; }

#opc_order_info .box #opc_account_form {
  width: 620px;
  margin: 0px auto; }
  @media (max-width: 767px) {
    #opc_order_info .box #opc_account_form {
      width: 100%; } }
  #opc_order_info .box #opc_account_form .postcode, #opc_order_info .box #opc_account_form .street, #opc_order_info .box #opc_account_form .house, #opc_order_info .box #opc_account_form .housing, #opc_order_info .box #opc_account_form .apartment {
    display: inline-block !important;
    float: left;
    margin-right: 10px; }
    @media (max-width: 767px) {
      #opc_order_info .box #opc_account_form .postcode, #opc_order_info .box #opc_account_form .street, #opc_order_info .box #opc_account_form .house, #opc_order_info .box #opc_account_form .housing, #opc_order_info .box #opc_account_form .apartment {
        width: auto; } }
  #opc_order_info .box #opc_account_form .apartment {
    margin-right: 0px; }
  #opc_order_info .box #opc_account_form #postcode {
    width: 115px; }
  #opc_order_info .box #opc_account_form #street {
    width: 260px; }
  #opc_order_info .box #opc_account_form #house, #opc_order_info .box #opc_account_form #housing, #opc_order_info .box #opc_account_form #apartment {
    width: 68px; }
