@font-face {
  font-family: 'PFHandbookPro';
  font-style: normal;
  font-weight: 400;
  src: local('PFHandbookPro'), url('../fonts/PFHandbookPro/pfhandbookpro-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PFHandbookPro';
  font-style: normal;
  font-weight: 600;
  src: local('PFHandbookPro'), url('../fonts/PFHandbookPro/pfhandbookpro-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'PFHandbookPro';
  font-style: normal;
  font-weight: 800;
  src: local('PFHandbookPro'), url('../fonts/PFHandbookPro/pfhandbookpro-bold.ttf') format('truetype');
}


/* cyrillic */
// @font-face {
//   font-family: 'Exo 2';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Exo 2'), local('Exo2-Regular'), url(http://fonts.gstatic.com/s/exo2/v3/pEbpp8gu02JrI5SDG9jj6g.woff2) format('woff2');
//   src: local('Exo 2'), local('Exo2-Regular'), url('../fonts/Exo2/Exo2/Exo2-Regular.ttf') format('truetype');
// }

@font-face {
    font-family: "Exo 2";
    src: url("../fonts/Exo2/Exo2Regular/Exo2Regular.eot");
    src: url("../fonts/Exo2/Exo2Regular/Exo2Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2/Exo2Regular/Exo2Regular.woff") format("woff"),
    url("../fonts/Exo2/Exo2Regular/Exo2Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

/* cyrillic */
// @font-face {
//   font-family: 'Exo 2';
//   font-style: normal;
//   font-weight: 500;
//   src: local('Exo 2 Medium'), local('Exo2-Medium'), url(http://fonts.gstatic.com/s/exo2/v3/hJNWOADMCBRrv6g6rvmDLRTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
//   src: local('Exo 2 Medium'), local('Exo2-Medium'), url('../fonts/Exo2/Exo2/Exo2-Medium.ttf') format('truetype');
//   unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }
/* font-family: "Exo2Medium"; */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Exo2/Exo2Medium/Exo2Medium.eot");
    src: url("../fonts/Exo2/Exo2Medium/Exo2Medium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2/Exo2Medium/Exo2Medium.woff") format("woff"),
    url("../fonts/Exo2/Exo2Medium/Exo2Medium.ttf") format("truetype");
}

/* cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  src: local('Exo 2 Semi Bold'), local('Exo2-SemiBold'), url(http://fonts.gstatic.com/s/exo2/v3/LFe3mB-q6jNXyAcQ2iPxARTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  src: local('Exo 2 Semi Bold'), local('Exo2-SemiBold'), url('../fonts/Exo2/Exo2/Exo2-SemiBold.ttf') format('truetype');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* font-family: "Exo2SemiBold"; */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Exo2/Exo2SemiBold/Exo2SemiBold.eot");
    src: url("../fonts/Exo2/Exo2SemiBold/Exo2SemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2/Exo2SemiBold/Exo2SemiBold.woff") format("woff"),
    url("../fonts/Exo2/Exo2SemiBold/Exo2SemiBold.ttf") format("truetype");
}

/* cyrillic */
// @font-face {
//   font-family: 'Exo 2';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Exo 2 Bold'), local('Exo2-Bold'), url(http://fonts.gstatic.com/s/exo2/v3/bjq6AK9kaX_qiS97tqNwpBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
//   src: local('Exo 2 Bold'), local('Exo2-Bold'), url('../fonts/Exo2/Exo2/Exo2-Bold.ttf') format('truetype');
//   unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }
/* font-family: "Exo2Bold"; */
@font-face {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Exo2/Exo2Bold/Exo2Bold.eot");
    src: url("../fonts/Exo2/Exo2Bold/Exo2Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2/Exo2Bold/Exo2Bold.woff") format("woff"),
    url("../fonts/Exo2/Exo2Bold/Exo2Bold.ttf") format("truetype");
}

/* cyrillic */
// @font-face {
//   font-family: 'Exo 2';
//   font-style: italic;
//   font-weight: 400;
//   src: local('Exo 2 Italic'), local('Exo2-Italic'), url(http://fonts.gstatic.com/s/exo2/v3/F9ETeMVT95dtwFnxnP3Yo_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
//   src: local('Exo 2 Italic'), local('Exo2-Italic'), url('../fonts/Exo2/Exo2/Exo2-Italic.ttf') format('truetype');
//   unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
// }
/* font-family: "Exo2Italic"; */
@font-face {
    font-family: 'Exo 2';
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/Exo2/Exo2Italic/Exo2Italic.eot");
    src: url("../fonts/Exo2/Exo2Italic/Exo2Italic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Exo2/Exo2Italic/Exo2Italic.woff") format("woff"),
    url("../fonts/Exo2/Exo2Italic/Exo2Italic.ttf") format("truetype");
}
